03580589000132
Posto Boa Saude
sistema.clubpetro.com.br
20
192.168.2.149
11001
0
DEFAULT
0

192.168.2.145

1
-1
0
0
0
0
0
0
0
0
0
-1
0
20
0
0
041076
0
ímpbobina_modelo=(Nenhum)
ímpbobina_porta=
ímpbobina_velocidade=9600
ímpbobina_codepage=pc850
ímpbobina_largurabobina=80
ímpbobina_linhasfinalimpressao=7
ímpbobina_cortarpapel=1
ímpbobina_removeracentos=0
